@import "tailwindcss";

body{
    background-color: #262626;
    color: white;
        background-image: url(../img/b.png);
     background-size: cover;
    background-repeat: no-repeat;
     
    
    

}

.hero{
 
  
    
   
}

.our-services{
    background-image: url(../img/save-bg.png);
    background-color: black;
    background-repeat: no-repeat;
    background-size: cover;
    
}